h1 {
  text-align: center;
}

.p1 {
  width: 50vw;
  height: 30vw;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 7px;
}

.i1 {
  align-items: center;
  height: 25vw;
  width: 30vw;

  margin: 25px;
}

.d1 {
  margin: 3px;
  display: flex;
  width: 100%;
  height: 100%;
}

h2 {
  margin-top: 15px;
  text-align: center;
}

.d2 {
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
}

.pp2 {
  width: 50%;
}

.i2 {
  width: 40%;
}

.pp3 {
  width: 100%;
  height: 40%;
  display: block;
}

.pp4 {
  display: block;
  width: 100%;
  height: 40%;
}

.i3 {
  width: 40%;
  display: flex;
  margin-top: 10px;
}

.ppp1 {
  display: block;
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

h3 {
  margin-top: 15px;
  text-align: center;
}

.d3 {
  margin: 3px;
  margin-left: 30px;
  display: flex;
  flex-direction: row-reverse;
  height: 20vw;
}

.pp5 {
  width: 100%;
  padding-right: 220px;
}

.i4 {
  width: 27%;
  height: 90%;
}

.d4 {
  margin: 3px;
  display: flex;
  margin-left: 30px;
  height: 20vw;
}

.pp6 {
  height: 100%;
  width: 70%;
}

.d5 {
  margin: 3px;
  margin-left: 30px;
  display: flex;
  flex-direction: row-reverse;
  height: 20vw;
}

.pp7 {
  width: 100%;
  padding-right: 220px;
}

.i6 {
  width: 27%;
  height: 90%;
}

.d6 {
  margin: 3px;
  display: flex;
  margin-left: 30px;
  height: 20vw;
}

.pp8 {
  height: 100%;
  width: 70%;
}

.d7 {
  margin: 3px;
  margin-left: 30px;
  display: flex;
  flex-direction: row-reverse;
  height: 20vw;
}

.pp9 {
  width: 100%;
  padding-right: 220px;
}

.i8 {
  width: 27%;
  height: 90%;
}

.d8 {
  margin: 3px;
  display: flex;
  margin-left: 30px;
  height: 20vw;
}

.pp10 {
  height: 100%;
  width: 70%;
}
